@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a0000;
  --foreground: #e0e0e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
