@import "tailwindcss";

@theme {
    /* Admin specific theme if needed, or just use defaults */
}

/* Admin specific overrides */
body {
    /* Ensure sans-serif is prioritized here, though layout.tsx class handles it too */
    font-family: 'Inter', sans-serif;
}
